<div class="container prviewcss">
    <div class="position-relative row form-group">
        <div *ngIf="ShowHide; else elseBlock"></div>
        <ng-template #elseBlock>
            <div class="loader-wrapper">
                <div class="loader"></div>

            </div>
        </ng-template>
        <div class="col-lg-11">
            <h4><i class="fa fa-list" aria-hidden="true"></i> Create New Post</h4>

        </div>
        <div class="col-lg-1">
            <a href="#" routerLink="/post/index" class="k-button k-primary">Back</a>

        </div>

    </div>




    <div class="frm">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <h4 class="h4form-title"> CREATE YOUR NEW POST</h4>

            <div class="form-group">

                <label for="title">Title</label>
                <input formControlName="title" id="title" type="text" class="form-control">
                <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                    <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
                </div>
            </div>

            <div class="form-group">

                <label for="project">Project</label>
                <input formControlName="project" id="project" type="text" class="form-control">
                <div *ngIf="f['project'].touched && f['project'].invalid" class="alert alert-danger">
                    <div *ngIf="f['project'].errors && f['project'].errors['required']">Project is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="organisation">Organisation Name</label>
                <input formControlName="organisation" id="organisation" type="text" class="form-control">

                <div *ngIf="f['organisation'].touched && f['organisation'].invalid" class="alert alert-danger">
                    <div *ngIf="f['organisation'].errors && f['organisation'].errors['required']">Organisation is
                        required.</div>
                </div>
            </div>

            
            <div class="form-group">
                <label for="organisation">Email</label>
                <input formControlName="email" id="email" type="email" class="form-control">

                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['pattern']">Email is not valid.</div>
                </div>
            </div>


            <div class="form-group">
                <label for="body">Project Description</label>
                <textarea formControlName="body" id="body" type="text" class="form-control">
            </textarea>
                <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
                    <div *ngIf="f['body'].errors && f['body'].errors['required']">Body is required.</div>
                </div>
            </div>
            <span class="k-form-separator"></span>
            <div class="form-group checkboxesc">
                <input (change)="fieldsChange($event)" class="" value="angular" type="checkbox" />
                <span> Status</span>
            </div>
            <!-- <input (change)="uploadFile($event)" class="form-control" type="file" /> -->



            <button class="k-button k-primary btncss" type="submit">Submit</button>
        </form>
    </div>
</div>