<div class="container prviewcss">
    <div *ngIf="ShowHide; else elseBlock"></div>
    <ng-template #elseBlock>
        <div class="loader-wrapper">
            <div class="loader"></div>

        </div>
    </ng-template>
    <div class="position-relative row form-group">
        <div class="col-lg-11">
            <h4><i class="fa fa-list" aria-hidden="true"></i> View Post</h4>

        </div>
        <div class="col-lg-1">
            <a href="#" routerLink="/post/index" class="k-button k-primary">Back</a>

        </div>

    </div>
    <br />
    <kendo-panelbar>
        <kendo-panelbar-item title="Genral Information" [expanded]="true">
            <ng-template kendoPanelBarContent>
                <div class="viewpage ">
                    <div class="">
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>ID</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.id }}</p>
                            </div>
                        </div>

                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Title</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.title }}</p>
                            </div>
                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Email</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.email }}</p>
                            </div>

                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Project Name</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.project }}</p>
                            </div>

                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Organisation</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.organisation }}</p>
                            </div>

                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Description</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.body }}</p>
                            </div>

                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Status</strong>
                            </div>
                            <div class="col-lg-9">
                                <p *ngIf="post.published"><i class="fa fa-check-circle" aria-hidden="true"></i> Published</p>
                <p *ngIf="!post.published"><i class="fa fa-times-circle-o" aria-hidden="true"> Not Published</i></p>
                            </div>

                        </div>
                        <div class="row border-css">
                            <div class="col-lg-3">
                                <strong>Description</strong>
                            </div>
                            <div class="col-lg-9">
                                <p>{{ post.body }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
        </kendo-panelbar-item>
    </kendo-panelbar>


</div>